/*NULL*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}
a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
/* for maket */
.section{
    padding: 94px 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--color-title);
    background-color: var(--color-forbackground);
    font-size: 14px;
}
:root {
    --color-title: #212121;
    --color-subtitle: #757575;
    --color-hoverfocus: #2196F3;
    --color-forbackground: #FFFFFF;
    --color-maintitle: #2F303A;
    --color-hoverfocusbutton: #188CE8;
    --color-grey: #F5F4FA;
    --colorforborder: #EEEEEE;
    --coloricon: #AFB1B8;
    --colorhovericon: #2196F3;
    --backgroundfottericon: rgba(255, 255, 255, 0.1);
}

/* header */
/*logo*/

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
header{
    border-bottom: 1px solid var(--colorforborder);
}

.flex-header{
    display: flex;
    align-items: center;
}
.logo{
    display: inline-block;
    padding: 24px 0;
    letter-spacing: 0.03em;
}
.box-one{
    display: flex;
    gap: 93px;
}

.web{
    font-family: 'Raleway' ,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--color-hoverfocus)
}

.studio {
    font-family: 'Raleway' ,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--color-title)
}
.navigation {
    display: flex;
    align-items: center;
}

.navigation-position{
    display: inline-block;
    margin-right: 50px;
}
.navigation-position:last-child{
    margin-right: 0;
}

.navigation-item {
    display: block;
    padding: 32px 0 ;
    color: var(--color-title);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;

}
.navigation-item:hover{
    color: var(--color-hoverfocus);
}
.navigation-item:focus {
    color: var(--color-hoverfocus);
}
.current{
    color: var(--color-hoverfocus);
}

.box-two {
    margin-left: 318px;
    display: flex;
}

.feedback-item{
    display: flex;
    align-items: center;
    display: block;
    align-items: center;
    gap: 10px;
    padding: 32px 0;
    color: var(--color-subtitle);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.feedback-item:hover{
    color: var(--color-hoverfocus);
}
.feedback-item:focus{
    color: var(--color-hoverfocus);
}
.feedback-icon{
    display: inline-block;
    width: 10px;
    height: 16px;
    vertical-align: middle;
    fill: currentColor;
}

/* main index */
.primary-maintitle{
    background: var(--color-maintitle);
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
}
.overlay{
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image:
            linear-gradient(to right, 
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/title-Img.jpg);
}
.maintitle {
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-forbackground);
    letter-spacing: 0.06em;
}


.maintitle-button {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 216px;
    height: 50px;
    background: var(--color-hoverfocus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    align-items: center;
    text-align: center;
    color: var(--color-forbackground);
    letter-spacing: 0.06em;
}

.maintitle-button:hover{
    background-color: var(--color-hoverfocusbutton);
}

.maintitle-button:focus {
    background-color: var(--color-hoverfocusbutton);
}
/* наші переваги */
.visuallity-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.flex-features{
    display: flex;
    gap: 30px;
}
.subfeatures {
    display: block;
    max-width: 270px;
}
.subfeatures-icon{
    width: 270px;
    height: 120px;
    background-color: var(--color-grey);
    padding: 25px 100px;
}

.subfeatures-headline {
    margin-top: 30px;
    color: var(--color-title);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.subfeatures-paragraf {
    margin-top: 10px;
    color: var(--color-subtitle);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
/* чим займаємося */
.section-whatwedo{
    padding: 0px 0px 94px 0px;
}
.heading-work {
    color: var(--color-title);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.heading-work-list {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

/* наша команда */
.team{
    background: var(--color-grey);
}
.flex-team{
    margin-top: 50px;
    display: flex;
}
.list-item {
    background: var(--color-forbackground);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.heading-team {
    color: var(--color-title);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}


.heading-list {
    display: flex;
    gap: 30px;
}
.item-signature{
    padding: 30px 30px;
}

.item-headline {

    color: var(--color-title);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.item-paragraf {

    margin-top: 10px;
    color: var(--color-subtitle);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.item-box-list {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-box-icon {
    width: 44px;
    height: 44px;
}

.item-box-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: var(--coloricon);
}

.item-icon {
    width: 20px;
    height: 20px;

}
.item-box-link:hover{
    fill: var(--color-forbackground);
    background-color: var(--color-hoverfocus); 
}
.item-box-link:focus {
    fill: var(--color-forbackground);
    background-color: var(--color-hoverfocus);
}
.heading-clients {
    color: var(--color-title);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.clients-list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.clients-item {
    display: block;
}
.clients-link{
    display: flex;
    padding: 16px 32px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--coloricon);
    border-radius: 4px;
    fill: var(--coloricon);
}
.clients-link:hover{
    border: 1px solid var(--colorhovericon);
    fill: var(--colorhovericon);
}
.clients-link:focus{
    border: 1px solid var(--colorhovericon);
    fill: var(--colorhovericon);
}

.clients-icon {
    width: 106px;
    height: 60px;

}


/* fotter */
footer{
    background: #2F303A;
    padding: 60px 0px;
}
.fotter-flex-container{
    display: flex;
    align-items: baseline;
    gap: 70px;
}
.logo2 {
    display: inline-block;
    letter-spacing: 0.03em;
}

.logo2-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--color-hoverfocus);
}

.logo2-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--color-forbackground);
}
.contact {

}

.contact-list {
    
}
.contact-position{
    margin-top: 9px;
}
.contact-position:first-child{
    margin-top: 20px;
}


.contact-map {
    display: inline-block;
    font-size: 14px;
    line-height: 1.7;
    color: var(--color-forbackground);
    font-style: normal;
    letter-spacing: 0.03em;
}
.contact-map:hover {
    color: var(--color-hoverfocus);
}

.contact-map:focus {
    color: var(--color-hoverfocus);
}

.contact-item {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    letter-spacing: 0.03em;
}
.contact-item:hover {
    color: var(--color-hoverfocus);
}

.contact-item:focus {
    color: var(--color-hoverfocus);
}
.fotter-subtitle-icon{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-forbackground);
}
.fotter-box-icon {

}

.fotter-subtitle-icon {
    display: block;
}

.footer-list-icon {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.fotter-item-icon {
    width: 44px;
    height: 44px;
}

.fotter-link-icon {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: var(--backgroundfottericon);
    border-radius: 50%;
    fill: var(--color-forbackground);
}
.fotter-link-icon:hover{
    background: var(--colorhovericon);
}
.footer-icon {
    width: 20px;
    height: 20px;
}

/* main portfolio */


.porfolio-filter {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.porfolio-position {
    color: var(--color-title);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
    padding: 6px 22px;
    letter-spacing: 0.03em;
    border-radius: 4px;
}
.porfolio-position:hover{
    background-color: var(--color-hoverfocus);
    color: var(--color-forbackground);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.porfolio-position:focus {
    background-color: var(--color-hoverfocus);
    color: var(--color-forbackground);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.porfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: -30px;
}

.porfolio-box {
    margin-top: 30px;
    margin-right: 30px;
}
.porfolio-box:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.porfolio-box:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.porfolio-signature{
    padding: 24px 20px;
    border: 1px solid var(--colorforborder);
    border-top: none;
}
.porfolio-item-headline {
    color: var(--color-title);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.porfolio-item-paragraf {
    margin-top: 4px;
    color: var(--color-subtitle);
    font-size: 16px;
    line-height: 1.9;
}
